<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.description %>">
  <!-- Link to Main CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Link to any additional JS files -->
  <script type="text/javascript" defer src="/js/script.js"></script>
  <!-- Optionally add a Favicon -->
  <link rel="icon" href="/path/to/favicon.ico">
</head>
<body>
  <!-- Container for consistent layout -->
  <div class="container">
    <!-- Include Header -->
    <%- include('../partials/header_admin.ejs') %>

    <!-- Main Content Area -->
    <main class="main">
      <!-- Inject Body Content -->
      <%- body %>
    </main>

    <!-- Include Footer -->
    <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>
